<h1>Login</h1>
<section>
  <%= form_with url: sessions_path, local: true do |f| %>
    <div>
      <%= f.label :username %>
      <%= f.text_field :username, required: true, autofocus: true %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, required: true %>
    </div>
    <%= f.submit "Login" %>
  <% end %>
</section>
