<h1>Conversations</h1>

<section>
  <ul>
    <% @conversations.each do |conversation| %>
      <li><%= link_to (conversation.sender == @logged_in_user ? conversation.receiver.handle : conversation.sender.handle), conversation_messages_path(conversation)  %></li>
    <% end %>
  </ul>
  <%= form_with url: conversations_path, method: 'POST', local: true, class: 'form-static' do |f| %>
    <%= f.hidden_field :sender_id, value: @logged_in_user.id %>
    <div>
    <%= f.label :receiver_id, "Select Friend"%>
    <%= f.collection_select :receiver_id, @users, :id, :username %>
    </div>
    <%= f.submit "Start New" %>
  <% end %>
</section>
