<h1><%= @requested_user.name %></h1>
<h2>@<%= @requested_user.username %></h2>
<h3>Role: <%= @requested_user.role %></h3>

<% if !@requested_user.managed_bands.empty? %>
  <h2>Manager Of</h2>
  <ul>
    <% @requested_user.managed_bands.each do |band| %>
      <li><%= link_to band.name, band_path(band) %></li>
    <% end %>
  </ul>
<% end %>
<% if !@requested_user.bands.empty? %>
  <h2>Member Of</h2>
  <ul>
    <% @requested_user.bands.each do |band| %>
      <li><%= link_to band.name, band_path(band) %></li>
    <% end %>
  </ul>
<% end %>

<% if @requested_user == @logged_in_user || @logged_in_user.admin? %>
  <p><%= link_to "Edit Profile", edit_user_path %></p>
  <%= form_with url: user_path(@requested_user), method: "delete", local: true do |f| %>
    <%= f.submit "Delete Account"%>
  <% end %>
<% end %>
