<h1>Profile</h1>
<p class="name"><%= @requested_user.name %></p>
<h3>@<%= @requested_user.username %></h3>
<% if @requested_user == @logged_in_user || @logged_in_user.admin? %>
<section>
  <h2>Settings</h2>
  <div>
    <p>
      <%= link_to "Edit Profile", edit_user_path %>
      <%= link_to "Delete Account", user_path(@requested_user), method: :delete, class: 'button-caution'%>
    </p>
  </div>
</section>
<section>
  <h2>
    <%= link_to "Conversations", conversations_path %>
    <hr>
  </h2>
</section>
<% end %>


<% if !@bands.empty? %>
  <section>
    <h2>Bands <% if @logged_in_user == @requested_user %><%= link_to "+", new_band_path, class: "button-add" %><% end %></h2>
    <ul class="bands">
      <% @bands.each do |band| %>
        <li class="band">
          <h4><%= band.get_roles_string(@requested_user) %></h4>
          <p><%= link_to band.name, band_path(band) %></p>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>

<section>
  <h2>Posts <% if @logged_in_user == @requested_user %><%= link_to "+", new_user_post_path(@logged_in_user), class: "button-add" %><% end %></h2>
  <% if @posts.empty? %>
    <ul class="posts">
      <li class="post">
        <h4>Nobody Here!</h4>
        <p>Nothing here yet!</p>
      </li>
    </ul>
  <% else %>
    <%= render "./posts/posts" %>
  <% end %>
</section>
