<h1>Band Page</h1>
<h2 class="name"><%= @requested_band.name %></h2>
<h3><%= @requested_band.manager.full_handle %></h3>
<% if @requested_band.manager == @logged_in_user || @logged_in_user.admin? %>
  <section>
    <h2>Settings</h2>
    <div>
      <p>
        <%= link_to "Edit Band", edit_band_path(@requested_band) %>
      </p>
      <%= form_with url: band_path(@requested_band), id: "", method: "delete", class:'form-static', local: true do |f| %>
      <%= f.submit "Delete Band", class: "button-caution", form: ""%>
      <% end %>
    </div>
  </section>
<% end %>


<section>
  <h2>Members</h2>
  <ul>
    <% @memberships.each do |membership| %>
    <li>
      <p><%= link_to membership.member.name, user_path(membership.member) %></p>
      <%= form_with url: membership_path(membership), method: "delete", class: 'form-static', local: true do |f| %>
      <%= f.submit "Remove Member" %>
      <% end %>
    </li>
    <% end %>
  </ul>
  <% if @requested_band.manager == @logged_in_user || @requested_band.members.include?(@logged_in_user) %>
    <%= form_with url: memberships_path, class:'form-static', local: true do |f|%>
    <%= f.hidden_field :band_id, value: "#{@requested_band.id}" %>
    <div>
      <h4><%= f.label :member_username, "Add Member" %></h4>
      <%= f.text_field :member_username, placeholder: "Type in username", required: true %>
    </div>
    <%= f.submit "Add" %>
    <% end %>
  <% end %>
</section>

<section>
  <h2>Recent Posts</h2>
  <%= render "./posts/posts" %>
</section>
